article.blog-content,
main.docs-content {
  counter-reset: figure-counter h2-counter h3-counter h4-counter equation;

  h2::before {
    counter-increment: h2-counter;
    counter-set: h3-counter h4-counter;
    content: counter(h2-counter) " ";
  }

  h3::before {
    counter-increment: h3-counter;
    counter-set: h4-counter;
    content: counter(h2-counter) "." counter(h3-counter) " ";
  }

  h4::before {
    counter-increment: h4-counter;
    content: counter(h2-counter) "." counter(h3-counter) "." counter(h4-counter) " ";
  }

  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & > figure {
    counter-increment: figure-counter;
    counter-set: subfigure-counter;

    & > figcaption::before {
      content: "图 " counter(figure-counter) "：";
      font-weight: bold;
    }
  }

  figure figure > figcaption::before {
    counter-increment: subfigure-counter;
    content: "图 " counter(figure-counter) " (" counter(subfigure-counter, lower-alpha) ")：";
    font-weight: bold;
  }
}
